<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Layout</title>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />

</head>
<body class="container">

    <div class="well"> 
        <h3>Projeto Controle de Livros e Autores</h3>
        Aula de Asp.Net MVC - COTI Informatica
        <p>
            <a href="/Home/Index">Página inicial</a>
        </p>
    </div>

    <!-- Conteudo principal -->
    @RenderBody()

</body>
</html>
