
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h4>Bem vindo Sistema</h4>

<p>
    Selecione a operação desejada:
</p>

<ul>
    <li> <a href="/Autor/Cadastro">Cadastrar Autores</a> </li>
    <li> <a href="/Autor/Consulta">Consultar Autores</a> </li>
</ul>

<ul>
    <li> <a href="/Livro/Cadastro">Cadastrar Livros</a> </li>
    <li> <a href="/Livro/Consulta">Consultar Livros</a> </li>
</ul>